<!-- <app-placeholders-home></app-placeholders-home> -->

<div class="ui container">


  <div class="ui secondary pointing menu">
    <a routerLinkActive="active" class="item" routerLink="/placeholders">Placeholders</a>
    <a routerLinkActive="active" class="item" routerLink="/tables">Tabels</a>
    <a routerLinkActive="active" class="item" routerLink="/list">List</a>
   
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>



</div>



