
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/1.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="assets/1.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Pop Art Portre</p>
        <p class="subtitle is-6">@PopArtPortre</p>
      </div>
    </div>

    <div class="content">

      Abstract Canvas Print Original Modern

    </div>
  </div>
</div>