<div class="container">
    <div class="mainImg">
        <h4 class="title">{{images[currentPage].title}}</h4>
        <img class="img"   [src]="images[currentPage].url" >
       
        </div>
        
        
        </div>
<nav>
  <ul class="pagination page">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage=currentPage-1" >Önceki</a>
    </li>

    <li
      class="page-item"
      [ngClass]="{ active: i === currentPage }"
      *ngFor="let img of images; let i = index"
    >
      <a (click)="currentPage=i" class="page-link">{{ i + 1 }}</a>
    </li>

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage=currentPage+1">Sonraki</a>
    </li>
  </ul>
</nav>

