.page {
    margin-top: 50px;
  justify-content: center;
}
.mainImg {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  color: aliceblue;
}
.img {
  max-height: 500px;
}
