<div class="container">
  <h1>Fatura</h1>
  <div class="row">
    <!-- //div.col-md-6*2 -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="">İsim</label>
        <input
          class="form-control"
          type="text"
          (input)="onNameChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>isim</b></label>
      {{ name | titlecase }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Ödeme Tarihi </label>
        <input
          class="form-control"
          type="date"
          (input)="onDateChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Ödeme Tarihi</b></label>
      {{ date | date: "longDate" }}

      <!-- 'MMMM d,y' -->
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Tutar</label>
        <input
          class="form-control"
          type="text"
          (input)="onMonetChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Tutar</b></label>
      {{ money | currency: "TRY" }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Boy</label>
        <input
          class="form-control"
          type="text"
          (input)="onHeightChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>BOY</b></label>
      {{ height | number : '1.1-4' }}
    </div> 
  </div>

</div>


    <!-- {{ height | number :' 1.0-0'}} // noktadan sonra yok 
      {{ height | number :' 1.0-4'}} // max 4  -->