.mainArea{

    display: flex;
    justify-content:center;

    align-items: center;
    min-height:750px;

    background-color: aquamarine;
    
}

.center-img{
    display: flex;
    justify-content:center;

}
.pending{//bekle
    color:gray;

}
.correct{
 color:yellowgreen
}
.incorrect{
 color: rgb(255, 0, 0);
 font-weight:bold;
}